{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h3>Impostazioni > Utenti</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <a href="{{ url('impostazioni_generali') }}" class="btn btn-secondary">Impostazioni Generali</a>
            <a href="{{ url('impostazioni_utenti') }}" class="btn btn-secondary">Impostazioni Utenti</a>
        </div>
    </div>
    {% form_theme form 'jquery.collection.html.twig' %}

    {{ form_start(form) }}

    <div class="row mt-3">
        <div class="col-3">
            {{ form_row(form.username) }}
        </div>
        <div class="col-3">
            {{ form_row(form.password.first) }}
        </div>
        <div class="col-3">
            {{ form_row(form.password.second) }}
        </div>
        <div class="col-3">
            {{ form_row(form.roles) }}
{#            <div id="roles-fields-list"#}
{#                data-prototype="{{ form_widget(form.roles.vars.prototype)|e }}"#}
{#                data-widget-tags="{{ '<div class="row"></div>'|e }}"#}
{#                data-widget-counter="{{ form.children|length }}">#}
{#                <div class="row">#}
{#                    {% for field in form.roles %}#}
{#                        {{ form_row(field) }}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}

{#            <button type="button"#}
{#                    class="add-another-collection-widget btn btn-secondary btn-sm"#}
{#                    data-list-selector="#roles-fields-list"><i class="fa fa-plus-square"></i></button>#}
        </div>
    </div>
    {{ form_end(form) }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ asset('assets/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.selector').collection();
    </script>
    {#<script>
        // add-collection-widget.js
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>#}
</div>
{% endblock %}